/node_modules
/public/hot
/public/storage
/storage/*.key
/Support/Vendor
/.idea
/.vagrant
npm-debug.log
yarn-error.log
.vscode
.docker-project
docker-compose.yml
composer.lock
/compiles
/nohup.out
/vendor
/.phpunit.result.cache
*.backup
