
$font-family: 'Raleway';
$code-font-family: 'Fira Code', monospace;

$header-bg-color: lighten(black, 90%);
$header-logo-text: #336888;
$header-logo-slogan: lighten(black, 70%);
$header-border-bottom-color: darken($header-bg-color, 5%);
$header-border-bottom-size: 1px;

$sidebar-font-family: $font-family;

$sidebar-title-font-family: $font-family;
$sidebar-title-font-size: 15px;
$sidebar-title-font-color: #fff;

$sidebar-menu-bg-color: #2b3d50;
$sidebar-menu-bg-color-hover: darken($sidebar-menu-bg-color, 5%);
$sidebar-menu-font-size: 17px;
$sidebar-menu-font-color: lighten($sidebar-menu-bg-color, 50%);
$sidebar-menu-font-color-hover: lighten($sidebar-menu-font-color, 5%);

$sidebar-submenu-bg-color: $sidebar-menu-bg-color-hover;
$sidebar-submenu-bg-color-hover: darken($sidebar-submenu-bg-color, 10%);
$sidebar-submenu-font-size: 15px;
$sidebar-submenu-font-color: $sidebar-menu-font-color;
$sidebar-submenu-font-color-hover: darken($sidebar-menu-font-color, 10%);
$sidebar-submenu-font-color-main: #fff;

$sidebar-arrow-color: lighten($sidebar-menu-bg-color, 10%);
$sidebar-arrow-size: 10px;
$sidebar-arrow-weigth: 2px;
$sidebar-item-gap: 10px;
$sidebar-item-hover-move: 10px;

$footer-bg-color: lighten(black, 10%);
$footer-text: $header-bg-color;
$footer-link: #69bbdc;
$footer-link-hover: darken($footer-link, 20%);
$footer-link-hover-decoration: underline;

$select-bg-color: #6abcdd;
$select-font-color:darken($select-bg-color, 30%);

$content-title1-color: #417aff;
$content-title2-color: $content-title1-color;
$content-title3-color: $content-title1-color;
$content-title4-color: $content-title1-color;
$content-title5-color: $content-title1-color;

$content-link-color: #6abcdd;
$content-link-color-hover: darken($content-link-color, 10%);

$content-code-block-border: solid #dcdddd 1px;
$content-code-block-bg-color: #f5f6f7;
