
            <menu>
                
                {% if releases_list|length > 0 %}
                    <div class="block-version-selector">
                        <select class="version-select">
                            {% for label, url in releases_list %}
                                {% if release == label %}
                                <option value="{{ url }}" selected>{{ label }}</option>
                                {% else %}
                                <option value="{{ url }}">{{ label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                {{ menu|raw }}
                
            </menu>
    