
            <menu>
                
                {% if releases_list|length > 0 %}
                    <div class="block-version-selector">
                        <select class="version-select">
                            {% for label, url in releases_list %}
                                {% if release == label %}
                                <option value="{{ url }}" selected>{{ label }}</option>
                                {% else %}
                                <option value="{{ url }}">{{ label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <ul>
                    {% for item in menu %}
                        <li>
                        <a href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {% if item.childs %}
                            <h2>{{ item.childs.label }}</h2>
                            {% for subitem in item.childs.items %}
                                <li>
                                <a href="{{ subitem.url }}">{{ subitem.label }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </menu>
    